
.bg-img{
    background-image : url("img/logoBg.png");
    background-repeat : no-repeat;
    background-position : center;
    background-size: cover;
    height : 500px;
}
option:hover{
    background-color : yellow;
}
.sectionCard{
    background : white;
    width: 30%;
    margin: 2% 0.5%;
    box-shadow: lightgrey 1px 1px 11px 10px;
    border-radius: 8px;
}

.tag{
    margin : 1.5% 1% 1% 0%;
}
.closeBtn{
    cursor: pointer;
}

.tag:target {
    display: none;
}

.countRecettes{
    padding-top: 1%;
    padding-left: 3%;
    font-family: "Impact";
    font-weight: 400 ;
    font-size: 21px;
    white-space: nowrap;
    padding-right: 10px;
}

#loupe{
    cursor : pointer
}
/* FILTRES */
.filterBtn {
    background-color: white;
    border-radius:10px;
    /* padding: 1%; */
    cursor: pointer;
    font-weight: 500;
    height: 50px;
    overflow: hidden;
}
.filterBtn.open {
    height: auto;
}

.filterBtn .chevron {
transition: transform 0.3s ease-in-out;
}
.head {
display: flex;
padding: 5px 10px;
padding-top: 1%;
padding-bottom: 1%;
padding-left: 1%;
justify-content: space-between;
}
.head h3 {
font-size: 16px;
font-weight: 500;
}
.filterBtn.open .chevron {
position: relative;
transform: rotate(180deg);
bottom: 2px;
}
.searchFilter {
/* margin-top: 10px;
padding: 5px; */
border-radius: 4px;
cursor: pointer;
position: relative;
}
.searchFilter input[type="text"] {
width: 100%;
padding-right: 25px;
}
.searchIconGrey {
position: absolute;
top: 20px;
right: 10px;
transform: translateY(-50%);
width: 20px;
height: 20px;
}



/* DATALIST */

datalist {
    position: relative;
    /* width: 100%; */
    width: 122%;
    padding: 1px;
    max-height: 10rem;
    overflow : overlay;
    
}

option {
    background-color: white;
    padding: 3px;
    color: black;
    margin-bottom: 1px;
    cursor: pointer;
    white-space: normal;
    font-size: 100%;
    padding-left: 10%;
}
  
option:hover,  .active{
    background-color: #FFD15B;
    ;
  }